*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}
html{
    background-color: aliceblue;
}
section{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    color: rgba(243, 63, 99, 0.726);
    text-shadow: rgba(7, 255, 156, 0.929) 10px 10px 10px;
    text-align: center;
    display: grid;
    place-items: center;
    background-attachment: fixed;
}
.section-1{
    width: 100%;
    height: 100vh;
    background-image: url('naruto1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2{
    width: 100%;
    height: 100vh;
    background-image: url('naruto2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3{
    width: 100%;
    height: 100vh;
    background-image: url('naruto3.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-4{
    width: 100%;
    height: 100vh;
    background-image: url('naruto4.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-5{
    width: 100%;
    height: 100vh;
    background-image: url('naruto5.webp');
    background-repeat: no-repeat;
    background-size: cover;
}